[Unit]
Description=Local Sabakan server
AssertPathExists=/usr/local/etc/sabakan.yml
Conflicts=sabakan.service
After=sabakan.service

[Service]
Type=simple
ExecStart=/home/cybozu/sabakan --config-file=/usr/local/etc/sabakan.yml
